.form-box {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 24px;
  border-left: 2px solid #5a5bd4;
  border-top: 2px solid #5a5bd4;

  box-shadow: 0 4px 20px rgba(90, 91, 212, 0.1);
  margin: auto;
}


.form-box h3 {
  font-size: 22px;
  font-weight: 700;
  color: #1a237e; 
}


.form-box .form-control {
  border-radius: 12px;
  padding: 14px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  box-shadow: none;
}


.appoint-btn {
  background-color: #ff7f2a; 
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 12px;
  border: none;
  transition: 0.3s ease;
}

.appoint-btn:hover {
  background-color: #e86c0f;
}
.address{
  color: #1f2176;
}

.booking-header {
  background-image: url('../images/header_files/fotter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: white;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}